<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<location>
		<system.webServer>
			<httpProtocol xdt:Transform="InsertIfMissing">
				<customHeaders xdt:Transform="InsertIfMissing">
					<remove name="x-powered-by" xdt:Transform="InsertIfMissing"/>
				</customHeaders>
			</httpProtocol>
			<security xdt:Transform="InsertIfMissing">
				<requestFiltering allowDoubleEscaping="true" xdt:Transform="InsertIfMissing"/>
			</security>
		</system.webServer>
	</location>
</configuration>